body {
    font-family: Roboto;
    background-color: #fbfbfb;
}
.mdl-card, .mdl-card > .mdl-card__supporting-text > table {
    width: 100%;
    max-width: 1200px;
}
.mdl-card {
    margin: auto;
    margin-top: 30px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}


.mdl-card__supporting-text {
    width: initial;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-bar {
    height: 50px;

    td {
        padding: 0px 20px;
        border-right:1px solid white;
    }

    .icon-step {
        background-color: lightgray;
        padding: 0px;

        img {
            height: 50px;
            width: 50px;
        }
    }

    .page-step {
        background-color: darkgray;
        cursor: pointer;

        &.active-step {
            background-color: blue;
        }
    }
}

.bottomNav {
    margin-top: 30px;
    margin-bottom: 50px;
    .buttonRight {
        float: right;
    }
}

.selectionHeader{
    height: 150px;
    margin-top:50px;
}
table {
    border-collapse: collapse;
}


/////////////////////////////////
.homepage {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 100%;
    .heroImage {
        width: 100%;
        height: 70%;
        background-color: #666666;
        .image{
            position: absolute;
            width: 100%;
            height: 70%;
            overflow: hidden;

            img{
                width: 100%;
                min-width: 1000px;
                top: 0%;
                margin-left: auto;
                margin-right: auto;
                opacity: 0.3;
            }
        }

        .heroContainer {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            top: 20%;
            position: relative;
            .title {
                font-weight: bold;
                font-size: 5em;
                padding-top: 5%;
                color: #ffffff
            }
            .intro {
                font-size: 2em;
                padding-top: 10%;
                text-align: left;
                color: #eeeeee;
            }
        }
    }
    .mdl-card {
        max-width: 100%;
        margin-top: 3px;
        height: 30%;
    }
        .nameContainer {
            width: 800px;
            margin-left: auto;
            margin-right: auto;
            top: 20%;
            position: relative;
            font-size: 2em;
            Button {
                margin-left: 30px;
                margin-bottom: 15px;
            }
        }
    .mdl-textfield__label {
        color: #646464;

    }

}
/////////////////////////////////
.num-people-selection-content .mdl-card {
    td:first-child {
        width: 80%;
    }
    .icon {
        cursor: pointer;
        height: 100px;
        width: 100px;

        &.not-selected {
            opacity: .2;
        }
    }
    .icon-counter {
        font-size: 6em;
        text-align: right;
        line-height: 100px;
        position: relative;
        float: left;
        width: 100%;
        color:#00BCD4;
    }
    .mdl-card__title {
        padding-left: 25px;
        padding-right: 25px;
        color: #00BCD4;
        h2 {
            font-size: 2.5em;
            font-weight: 400;
        }
    }
    .mdl-card__supporting-text {
        padding-bottom: 0px;
        padding-top: 0px;
        table {
            margin-bottom: 30px;
        }
    }
    .mdl-checkbox {
        float: left;
        width: 15px;
    }
}

    .selectionTitle {
        height: auto;
        vertical-align: top;
        p {
           margin-bottom: 25px;
        }
    }
    .assistanceBox {
        height: 22px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        border-top:1px solid #00BCD4;
        p {
            float: left;
            margin-bottom: 0px;
        }
    }



/////////////////////////////////
.applicant-info-content .mdl-card {
    img {
        width: 100px;
        height: 100px;
    }
    td.applicant-name {
        border-right: 2px solid #00BCD4;
        width: 60%;
        td{

        }
    }
    td.applicant-selection {
        table{
            width: 100%;
            margin-left: 30px;
            font-size: 1.2em;
        }
        tr{
            line-height: 33px;
        }

    }
    .toggle-optional-section-visibility {
        cursor: pointer;
        font-size: 1.2em;
        margin-top: 20px;
        margin-left: 30px;
    }

    .mdl-card__title {
        padding-left: 25px;
        padding-right: 25px;
        border-bottom: 1px solid lightgray;
        h2 {
            font-size: 1.8em;
            font-weight: 400;
        }
    }
    .dropdown {
        background-color: #eeeeee;
        padding-left: 25px;
        padding-right: 25px;
    }
    .tableDropdown {
        margin-top: 10px;
    }
    .dropdownEthnicity {

    }
    .dropdownRace {


    }
    .dropdownHeader {
        p {
            height: 30px;
            font-size: 1.1em;
            font-weight: 300;
            margin-bottom: 5px;
        }
    }
    .dropdownTitle {
        p {
            border-right: 1px solid grey;
            font-size: 1.1em;
            font-weight: 300;
            margin-bottom: 0px;
        }
    }
    .dropdownSelector {
        padding-left: 5px;

    }
    .horizontal-box-selector td {
        background-color: #eeeeee;
        cursor: pointer;
        padding: 13px;
        color: #bababa;
        font-size: 1.1em;
        font-weight: 400;

        &.selected {
            color: #d40015;
        }
    }
    .horizontal-box-selector td:hover {
        color: grey;
        &.selected {
            color: #d40015;
        }
    }

}


/////////////////////////////////
.income-info-content .mdl-card{
    .mdl-card__title {
        padding-left: 25px;
        padding-right: 25px;
        border-bottom: 1px solid #00BCD4;
        h2 {
            font-size: 2.5em;
            font-weight: 400;
        }
    }

}



.icon-names-table img {
    height: 75px;
    width: 75px;
}

.horizontal-box-selector td {
    background-color: lightblue;
    cursor: pointer;
    padding: 10px;

    &.selected {
        background-color: blue;
    }
}
