body {
    font-family: Roboto;
    background-color: #E0E0E0;
}
.mdl-card, .mdl-card > .mdl-card__supporting-text > table {
    width: 100%;
    max-width: 1200px;
}
.mdl-card {
    margin: auto;
    margin-top: 30px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}


.mdl-card__supporting-text {
    width: initial;
    padding-left: 25px;
    padding-right: 25px;
}

h1,h2,h3 {
    color: #424242;
}

.nav-bar {
    height: 133px;
    width: 100%;
    font-size: 1.2em;
    td {
        padding: 0px 20px;
    }


    .page-step {
        cursor: pointer;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 0px;
        padding-top: 0px;

        &.active-step {
            border-bottom: 3px solid #F44336;
            color: #F44336 ;
        }
        img {
            height: 50px;
            width: 50px;
            margin-right: -20px;
            margin-left: 20px;
        }
    }
    .page-step:hover {
        background-color: white;
        opacity: 0.5;
    }
    .navTop{
        height: 75px;
        width: 100%;
        background-color: #2196F3;
        p {
            margin-bottom: 0px;
            font-size: 1.6em;
            line-height: 70px;
            padding-left: 25px;
            float: left;
            width:95%;
            color: white;
        }
        .material-icons {
            line-height: 70px;
            font-size: 2em;
            color: white;
            opacity: 0.5;
        }
    }
    .navSection{
        height: 55px;
        width: 100%;
        background-color: white;
        line-height: 55px;
        table {
            height: 55px;
        }
    }

}

.bottomNav {
    margin-top: 30px;
    margin-bottom: 50px;
    .buttonRight {
        float: right;
    }
}

.selectionHeader{
    margin-top:50px;
    margin-bottom: 50px;
}
table {
    border-collapse: collapse;
}


/////////////////////////////////
.homepage {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 100%;
    .heroImage {
        width: 100%;
        height: 70%;
        background-color: #666666;
        .image{
            position: absolute;
            width: 100%;
            height: 70%;
            overflow: hidden;

            img{
                width: 100%;
                min-width: 1000px;
                top: 0%;
                margin-left: auto;
                margin-right: auto;
                opacity: 0.3;

            }
        }

        .heroContainer {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            top: 20%;
            position: relative;
            .title {
                h1 {
                    font-weight: bold;
                    font-size: 5em;
                    padding-top: 5%;
                    color: #ffffff
                }
            }
            .intro {
                h3{
                    font-size: 2em;
                    padding-top: 10%;
                    text-align: left;
                    color: #eeeeee;
                }
            }
        }
    }
    .mdl-card {
        max-width: 100%;
        margin-top: 3px;
        height: 30%;
    }
        .nameContainer {
            width: 800px;
            margin-left: auto;
            margin-right: auto;
            top: 20%;
            position: relative;
            font-size: 2em;
            Button {
                margin-left: 30px;
                margin-bottom: 15px;
            }
        }
    .mdl-textfield__label {
        color: #646464;

    }

}
/////////////////////////////////
.num-people-selection-content .mdl-card {
    td:first-child {
        width: 80%;
    }
    .icon {
        cursor: pointer;
        height: 100px;
        width: 100px;

        &.not-selected {
            opacity: .2;
        }
    }
    .icon:hover {
        &.not-selected {
            opacity: .4;
        }
    }
    .icon-counter {
        font-size: 6em;
        text-align: right;
        line-height: 100px;
        position: relative;
        float: left;
        width: 100%;
        color:#2196F3;
    }
    .mdl-card__title {
        padding-left: 25px;
        padding-right: 25px;
        color: #2196F3;
        h2 {
            font-size: 2.5em;
            font-weight: 400;
        }
    }
    .mdl-card__supporting-text {
        padding-bottom: 0px;
        padding-top: 0px;
        table {
            margin-bottom: 10px;
        }
    }
    .mdl-checkbox {
        float: left;
        width: 15px;
    }
}

    .selectionTitle {
        height: auto;
        vertical-align: top;
        p {
           margin-bottom: 25px;
        }
    }
    .assistanceBox {
        height: 22px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        border-top:1px solid #2196F3;
        p {
            float: left;
            margin-bottom: 0px;
        }
    }
    .numberRow {
        width: 770px;
        border-top: 2px solid lightgray;
        margin-left: 25px;
        .numberOne {
            float: left;
        }
        .numberEight {
            float: right;
        }

    }




/////////////////////////////////
.applicant-info-content .mdl-card {
    img {
        width: 100px;
        height: 100px;
    }
    td.applicant-name {
        border-right: 2px solid #2196F3;
        width: 60%;
        td{

        }
    }
    td.applicant-selection {
        table{
            width: 100%;
            margin-left: 30px;
            font-size: 1.2em;
        }
        tr{
            line-height: 33px;
        }

    }
    .toggle-optional-section-visibility {
        cursor: pointer;
        font-size: 1.1em;
        margin-top: 20px;
        p {
            margin-bottom: 0px;
            float: left;
            line-height: 30px;
            font-size: 1.2em;
            margin-right: 8px;
        }
    }
    .toggle-optional-section-visibility:hover {
        color: #F44336;
        opacity: 0.9;
    }

    .mdl-card__title {
        padding-left: 25px;
        padding-right: 25px;
        border-bottom: 1px solid #EEEEEE;
        h2 {
            font-size: 1.5em;
            font-weight: 400;
            color: #424242;
        }
    }
    .dropdown {
        background-color: #F5F5F5;
        padding-left: 25px;
        padding-right: 25px;
        p{
            font-size: 1em;
            margin-top: 15px;
            margin-bottom: 0px;
        }
    }
    .tableDropdown {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .dropdownEthnicity {

    }
    .dropdownRace {


    }
    .dropdownTitle {
        width: 130px;
        p {
            font-size: 1.2em;
            font-weight: 300;
            margin-bottom: 0px;
            margin-top: 0px;
            line-height: 30px;
            float: left;
            width: 90px;

        }
        .material-icons {
            line-height: 30px;
        }
    }
    .dropdownSelector {

    }
    .horizontal-box-selector td {
        cursor: pointer;
        padding: 10px;
        color: #2196F3;
        font-size: 1.1em;
        font-weight: 400;

        &.selected {
            color: white;
            background-color: #2196F3;
        }
    }
    .horizontal-box-selector td:hover {
        color: #1565C0;
        border: none;
        background-color: white;
        opacity: 0.8;
        &.selected {
            color: white;
            background-color: #2196F3
        }
    }

    .material-icons.downAarow {
        line-height: 30px;
        font-size: 2em;
    }


}



/////////////////////////////
    .assistanceProgram {
        .mdl-card__title {
            padding-left: 25px;
            padding-right: 25px;
            border-bottom: 1px solid #EEEEEE;
            h2 {
                font-size: 1.5em;
                font-weight: 400;
                margin-bottom: 0px;
                color: #424242;
                margin-top: 0px;
            }
        }

    }


/////////////////////////////////
.income-info-content .mdl-card{
    min-height: 20px;
    h2 {
        font-size: 2em;
    }
    .mdl-card__title {
        padding-left: 25px;
        padding-right: 25px;
        border-bottom: 1px solid #EEEEEE;
        h2 {
            font-size: 1.5em;
            font-weight: 400;
            margin-bottom: 0px;
            color: #424242;
        }
    }
    img {
        width: 100px;
        height: 100px;
    }
    td.applicant-name {
        border-right: 2px solid #2196F3;
        width: 60%;
        td{

        }
    }
    td.applicant-selection {
        table{
            width: 100%;
            margin-left: 30px;
            font-size: 1.2em;
        }
        tr{
            line-height: 33px;
        }
        h3 {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left:30px;
            font-size: 1.7em;
        }

    }

}
    .adultIncomeSection {
        margin-top: 50px;
        h2 {
            margin-bottom: 45px;
        }
    }
    .applicantIncomeSection {
        margin-top: 50px;
        margin-bottom: 100px;
        h2{
            margin-bottom: 45px;
        }
    }
    .applicantCard {
        .name {
            padding-left: 25px;
            min-width: 250px;
            p {
                padding-right: 30px;
                border-right: 1px solid grey;
                margin-bottom: 0px;
                font-size: 1.2em;
                line-height: 30px;
            }
        }
        .enterIncome {
            padding-left: 50px;
            padding-right: 10px;
        }
        .every {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 1em;
            color: lightgray;
        }
        .frequencySelector {
            padding-left: 10px;
            padding-right: 10px;

        }
        .calculation {
            padding-left: 10px;
            padding-right: 10px;
        }
        .horizontal-box-selector td {
            background-color: white;
            cursor: pointer;
            padding: 10px;

            &.selected {
                color: #F44336;
            }
        }
        .horizontal-box-selector td:hover {
            color: grey;
            border-bottom: 1px solid #EEEEEE;
            &.selected {
                color: #F44336;
            }
        }
    }
    .adultCard {
        background-color: #F5F5F5;
        padding-left: 25px;
        padding-right: 25px;
        .name {
            min-width: 360px;
            p {
                padding-right: 30px;
                border-right: 1px solid grey;
                margin-bottom: 0px;
                font-size: 1.1em;
                line-height: 30px;
            }
        }
        .enterIncome {
            padding-left: 50px;
            padding-right: 10px;
        }
        .every {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 1em;
            color: lightgray;
        }
        .frequencySelector {
            padding-left: 10px;
            padding-right: 10px;

        }
        .calculation {
            padding-left: 10px;
            padding-right: 10px;
        }
        .horizontal-box-selector td {
            background-color: #eeeeee;
            cursor: pointer;
            padding: 10px;

            &.selected {
                color: #F44336;
            }
        }
        .horizontal-box-selector td:hover {
            color: grey;
            border-bottom: 1px solid lightgray;
            &.selected {
                color: #F44336;
            }
        }
    }



//////////////////////////////////
.review-submit-page .income-summary-table {
    .income-summary-total {
        float: right;
    }

    .name-income-table {
        width: 100%;
    }
}

///////////////////////////////
.icon-names-table img {
    height: 75px;
    width: 75px;
}


